body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color:  #1da1f2;
    color: #fff;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
}

.main-content header {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
    margin: 0;
    color: #1da1f2;
}

.tableauPlaceholder {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

